/* ul {
    background-color: rgb(15, 128, 228);
    width: 100%;
    position: fixed;
    top: 0%;
    overflow: hidden;
    margin: 0%;
    padding: 0%;

}
ul{
    list-style-type: none;
}
li{
    float: right;
}
li a{
    display: block;
     color: white;
     text-align: center;
     padding: 10px 25px 10px 10px;
}
li a:hover{
    background-color: aqua;
}
.block{
    padding: 20px;
    margin-top:30px;
} */
/* .coll{
    width: 50%;
    height: 120px;
    margin: 20px;
    float: left;
    padding: 10px;
    background-color: green;
    
}
.img2{
    width: 150px;
    height: 120px;
    margin: 20px;
    float: left;
    background-color: aqua;
} */
/* #container{
    margin-top: 30px;
    max-width: 1000px;
} */

.row_c{
    margin-top: 20px;
    /* border: 1px solid; */
    /* padding: 20px; */
    border-radius: 10px;
}
.row_b{
    margin-top: 20px;
    /* border: 1px solid; */
    padding-left: 12px;
    border-radius: 10px; 
}
/* .row{
    margin-left: 66.66%;
 } */
.col_c{
    text-align: center;
}
.border{
    border-color: black;
}
.row_a{
    margin-bottom: 10px;
}
.row_a1{
    text-align: center;
}


/* .col_c{
    margin: 15px;
    padding: 15px;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
} */
.col_b{
    text-align: right;
}
.d-flex{
    width: 350px;
    height: 250px;
    background-color:rgb(90, 90, 192);
}
.d-flexs{
    width: 350px;
    height: 250px;
    background-color:rgb(100, 219, 160);
}
.d-flexs1{
    width: 300px;
    height: 245px;
    background-color:rgb(100, 219, 160);
}
/* .tab{
    width: 400px;
    height: 250px;
    background-color:rgb(90, 90, 192);
} */
.card1{
    width:"705px"; 
    height:"250px";
    transition: 2s;
    border-radius: 10px;
    /* background-color:rgb(90, 90, 192); */
}
.card2{
    width:"350px"; 
    height:"250px";
    transition: 2s;
    border-radius: 10px;
    /* background-color:rgb(90, 90, 192); */
}
