/* ul {
    background-color: rgb(15, 128, 228);
    width: 100%;
    position: fixed;
    top: 0%;
    overflow: hidden;
    margin: 0%;
    padding: 0%;

}
ul{
    list-style-type: none;
}
li{
    float: right;
}
li a{
    display: block;
     color: white;
     text-align: center;
     padding: 10px 25px 10px 10px;
}
li a:hover{
    background-color: aqua;
}
.block{
    padding: 20px;
    margin-top:30px;
} */
/* .coll{
    width: 50%;
    height: 120px;
    margin: 20px;
    float: left;
    padding: 10px;
    background-color: green;

}
.img2{
    width: 150px;
    height: 120px;
    margin: 20px;
    float: left;
    background-color: aqua;
} */
/* #container{
    margin-top: 30px;
    max-width: 1000px;
} */

.row_c{
    margin-top: 20px;
    /* border: 1px solid; */
    /* padding: 20px; */
    /* border-radius: 10px; */
}
.row_b{
    margin-top: 20px;
    /* border: 1px solid; */
    padding-left: 12px;
    border-radius: 10px; 
}
/* .row{
    margin-left: 66.66%;
 } */
.col_c{
    text-align: center;
    border-radius: 10px;
}
.col_cl{
    text-align: center;
    width: auto;
    height: 290px;
    background-color: white;
    border-radius: 10px;
}
.col_c2{
    text-align: center;
    /* background-color: #38a3c3; */
    /* border: 1px outset black; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    /* margin: 10px; */
}
.border{
    border-color: black;
}
.row_a{
    /* margin-bottom: 10px; */
    text-align: center;
    border-radius: 10px;
    height: 220px;
    width: 260px;
    background-color: #38a3c3;
    margin-bottom: 10px;
    /* margin-left: 7px; */
    /* border: 1px outset black; */
}
.row_a2{
    /* margin-bottom: 10px; */
    text-align: center;
    border-radius: 10px;
    height: 290px;
    width: 239px;
    background-color: #38a3c3;
    margin-bottom: 10px;
    /* margin-left: 7px; */
    /* border: 1px outset black; */
}
.row-a1{
    text-align: center;
}



/* .col_c{
    margin: 15px;
    padding: 15px;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
} */
.col_b{
    text-align: center;
    border-radius: 10px;
}
.d-flex{
    width: 510px;
    height: 290px;
    border-radius: 10px;
    /* background-color:rgb(90, 90, 192); */
}
.d-flexs{
    width: 260px;
    height: 240px;
    border-radius: 10px;
    background-color:#38a3c3;
}
/* .d-flexs1{
    text-align: center;
    width: 300px;
    height: 245px;
    background-color:#38a3c3;
    border-radius: 10px;
} */
/* .tab{
    width: 400px;
    height: 250px;
    background-color:rgb(90, 90, 192);
} */
/* .card1{ */
    /* background-color:rgb(90, 90, 192); */
/* } */
.card2{
    width:"350px"; 
    height:"250px";
    transition: 2s;
    border-radius: 10px;
    /* background-color:rgb(90, 90, 192); */
}
/* .col-md-8{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 100%;
    text-align: center;
} */
.content{
    color: white;
}
.md2{
    text-align: center;
}
/* .md12{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 70px;
} */
.main-container{
  padding-bottom: 50px;
}
.p-2{
    text-align: center;
}
/* img{
    border-radius: 10px;
} */
.ml-auto{
    text-align: center ;
}
.form-inline{
    margin-right:100px;
}
.navbar-icon{
    text-align: right;
}
.nav-link{
    text-align: right;
    font-size: 1.5em;
  }
  .card4{
    width: 443px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #f8f9fa;
  }
  .wrapper{
    max-height: 125px;
    display: flex;
    overflow-x: auto;
    /* margin-left: 200px;
    margin-right: 200px; */

  }
  .wrapper .list{
    min-width: 110px;
    height: 70px;
    text-align: center;
  }
  .list{
    font-size: 3.5em;
  }
  .card3{
    width: 443px;
    margin-top: 20px;
    border-radius: 20px;
    height: 688px;
    text-align: center;
    /* margin-left: 200px;
    margin-right: 200px; */
  }
  .name2{
    text-align: left;
    padding-top: 11px;
    /* height: 30px; */
  }
  .collen1{
    padding-top: 9px;
    text-align: left;
  }
  .profile1{
    text-align: right;
    font-size: 2em;
  }
  .row-4{
    height: 50px;
    padding-left: 10px;
  }
  .mr-auto{
    display: flex;
    overflow-x: auto;
  }
  /* .row-2{
    text-align: center;
  } */
  .link1{
    text-align: center;
    font-size: 1.3em;
    padding: 1px;
  }
  .link2{
    text-align: right;
    font-size: 1.3em;
    padding: 5px;
  }
  .col-1{
    width: 33%;
    text-align: center;
  }
  .row-17{
    width: 33%;
    text-align: left;
  }
  .col-2{
    margin-top: 20px;
  }
  .form-inline{
    text-align: center;
  }
  .name1{
    text-align: center;
    font-size: 0.7em;
  }
  .col-3{
    text-align: right;
  }
  .col-5{
    text-align: right;
  }
  .row-5{
    padding-left: 10px;
    font-size: 0.9em;
  }
  .row-6{
    padding-left: 10px;
    font-size: 0.9em;
  }
  .row-7{
    padding-left: 10px;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .post1{
    text-align: left;
    color: rgb(82, 82, 240);
  }
  .col-11{
    padding-top: 2px;
  }
  .card5{
    /* border-radius: 10px; */
  /* margin-top: 10px; */
  max-height: 30px;
}
  .col-8{
    height: 20px;;
  }
  .add-comment{
    width:auto;
    text-align: left;
    padding: 0px;
  }
  .col-9{
    text-align: right;
    font-size: 1.2em;
  }
  .col-10{
    text-align:left;
    padding: 0px;
  }
  .row-8{
    padding-left: 10px;
  }
  /* .col-12{
    width: 443px;
  } */
  .switch{
    font-size: 0.9em;
    color: rgb(82, 82, 240);
  }
  .row-9{
    width: 349px;
    height: 50px;
  }
  .col-13{
    font-size: 2.5em;
  }
  .col-14{
    padding-top: 10px;
  }
  .col-15{
      padding-top: 18px;
      text-align: end;
  }
  .row-10{
    font-size: 0.9em;
    padding-left: 10px;
  }
  .col-21{
    font-size: 0.9em;
  }
  .row-11{
    width: 349px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .col-20{
    font-size: 0.9em;
    text-align: end;
  }
  .row-14{
    width: 349px;
  }
  .col-16{
    font-size: 1.5em;
    text-align: center;
  }
  .row-15{
    font-size: 0.9em;
  }
  .row-16{
    font-size: 0.7em;
  }
  .col-17{
    padding-top: 10px;
    text-align: end;
  }
  .follow{
    font-size: 0.9em;
    color: rgb(82, 82, 240);
  }
  .col-18{
    padding-top: 20px;
  }
  .col-22{
    font-size: 1.2em;
  }