.card4{
    /* width: 443px; */
    /* margin-top: 20px; */
    border-radius: 30px;
    margin-top: 20px;
    background-color: #ffffff;
    width: 470px;
    position: fixed;
    left: 13%;
  }
  @media (max-width: 575px){
    .card4{ 
      left: 0%;
    }
  }
  .wrapper{
    max-height: 125px;
    display: flex;
    overflow-x: auto;
    /* margin-left: 200px;
    margin-right: 200px; */
  }
  .card3{
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    height: 688px;
    text-align: center;
    width: 470px;
    position: fixed;
    left: 13%;
  }
  @media (max-width: 575px){
    .card3{ 
      left: 0%;
    }
  }
  .name2{
    font-size: 0.8em;
    margin-left: 10px;
    text-align: left;
    align-items: center;
  }
  .collen1{
    text-align: right;
    cursor: pointer;
  }
  .bbc5{
    background-color: #ffffff;
    border: none;
  }
  .profile1{
    text-align: center;
    font-size: 2em;
  }
  .row-4{
    width: 470px;
    height: 56px;
    align-items: center;
  }
  .mr-auto{
    display: flex;
    overflow-x: auto;
  }
  .link1{
    text-align: center;
    font-size: 1.4em;
    padding-right: 5px;
  }
  .link2{
    text-align: right;
    font-size: 1.4em;
  }
  .col-1{
    text-align: center;
  }
  .col-01{
    text-align: center;
    text-shadow: 2px 2px 2px gray;
  }
  .form1{
    margin-left: 100px;
  }
  .col-23{
    text-align: center;
    padding-left: 200px;
    /* display: none; */
  }
  .col-24{
    text-align: center;
  }
  .col-2{
    margin-top: 20px;
  }
  .name1{
    text-align: center;
    font-size: 0.7em;
  }
  .col-3{
    text-align: right;
  }
  .col-5{
    text-align: right;
  }
  .row-5{
    height: 25px;
    text-align: left;
  color: #535252;
  font-size: 0.79em;
  }
  .row-6{
    height: 25px;
    text-align: left;
    color: #acacac;
    font-size: 0.8em;
  }
  .row-7{
    height: 25px;
    text-align: left;
    font-size: 0.7em;
  }
  .bbc3{
    color: #acacac;
  }
  .bbc4{
    color: #535252;
  }
  .post1{
    padding-right: 10px;
    color: #0095f6;
    cursor: pointer;
  }
  .col-11{
    padding-top: 2px;
  }
  .card5{
  height: 49px;
  background-color: rgb(250, 246, 246);
  /* border: 0.1px solid gray ; */
}
  .col-8{
    height: 20px;;
  }
  .add-comment{
    width:auto;
    text-align: left;
    padding: 0px;
  }
  .col-9{
    text-align: right;
    font-size: 1.2em;
  }
  .col-10{
    text-align:left;
    padding: 0px;
  }
  
  .switch{
    padding-top: 5px;
    font-size: 0.8em;
    color: #229aeb;
    text-underline-offset: none;
  }
  .acb2{
    align-items: center;
    height: 50px;
    /* width: 319px; */
  }
  .col-13{
    font-size: 2.5em;
  }
  .acb1{
      text-align: end;
  }
  .row-10{
    font-size: 0.9em;
    color: #acacac;
  }
  .row-010{
    font-weight:bold;
    color: #474747;
    font-size: 0.9em;
    text-align: left;
  }
  .col-21{
    font-size: 0.9em;
    color: #acacac;
  }
  .col-20{
    font-size: 0.9em;
    text-align: end;
  }
  .col-16{
    font-size: 1.5em;
    text-align: center;
  }
  .row-15{
    font-weight: bold;
    color: #474747;
    font-size: 0.8em;
  }
  .row-16{
    font-size: 0.8em;
    color: #acacac;
  }
  .col-17{
    text-align: end;
  }
  .follow{
    font-size: 0.8em;
    color: #229aeb;
  }
  .abbc3{
    padding-top: 10px;
    width: 350px;
  }
.abc1{
    text-align: center;
    /* width: 25%; */
}
.abbc{
  height: auto;
  padding-bottom: 50px;
  padding-top: 70px;
  /* background-color: blue; */
}
.abbc:hover{
  overflow-y: auto;
}
.abcc{
  background-color: #fafafa;
}
.abbcd{
  background-color: #ffffff;
}
.col-xl-5{
  text-align: center;
}
.col-lg-6{
  text-align: center;
}
.col-md-7{
  text-align: center;
}
.col-12{
  text-align: center;
}
.abcd{
  padding-top: 20px;
  text-align: center;
}
.abc2{
  width: 60px;
}
.carousel-img{
  font-size: 0.7em;
  text-align: center;
}
.like-bold{
  text-align: left;
}
.abc{
  text-align: center;
  width: 33%;
  background-color: #ffffff;
  /* padding-top: 30px; */
}
.abc0{
  text-align: center;
}
.nav-link{
  /* font-size: 2em; */
  /* width: 33%; */
  text-align: right;
}
.nav-item{
  font-size: 1.5em;
  /* width: 33%; */
  /* text-align: left; */
}
.abc1{
  text-align: center;
}
.abc2{
  width: 33%;
  padding-left: 100px;
  text-align: right;
}
.abc3{
  text-align: right;
}
.abc4{
  background-color: #ffffff;
  height: 60px;
  box-shadow: 0 0.4px  rgb(145, 143, 143);
}
.fxd{
  position: fixed;
}
.sticky {
  /* position: -webkit-sticky; */
  position: fixed;
  left: 57%;
  top: 80px;
  /* background-color: #cae8ca; */
}
@media (max-width: 1202px){
.abc5{
  display: none;
}
}
.abc6{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #e84118;
  padding: 2px;
  cursor: pointer;
}
.abc7{
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid #e84118;
  padding: 2px;
}
.abc8{
width: 74px;
padding-left: 4px;}
.abc9{
  height: 100px;
}
@media (max-width: 767px){
  .abbc1{
    display: none;
  }
}
.abbc2{
  padding-top: 8px;
  padding-left: 8px;
}
.abbc5{
  font-size: 0.7em;
  text-align: center;
}
.abc1{
  text-align: center;
}
.abc2{
  width: 33%;
  padding-left: 100px;
  text-align: right;
}
.abc3{
  text-align: right;
}
.abc4{
  background-color: #ffffff;
  height: 60px;
}
.abb1{
  text-align: left;
  padding-left: 18%;
}
.abb2{
  font-size: 1.4em;
}
.abb3{
width: 290px;
}
.abb4{
  text-align: center;
  width: 30px;
}
/* @include media-breakpoint-up(md) {
  .abb5 {
    display: none;
  }
} */
@media (max-width: 767px){
.abb5{
  width: 0px;
  display: none;
}
}
.abb6{
  padding-left: 90px;
}
.abbc6{
  text-align: left;
}
.abb7{
  padding-left: 3%;
}
.abb8{
  text-align: left;
}
.abbc4{
  text-align: right;
  width: 78px;
}
.abb9{
  padding-bottom: 15px;
}
.abbc7{
  /* height: 48px; */
  text-align: center;
  color: #ed4956;
}
.abbc8{
  text-align: center;
}
.bbc{
  cursor: pointer;
}
.bbc1{
  cursor: url(ping123.jpg),pointer ;
}
.bbc2{
  height: 46px;
  align-items: center;
}
.bbc7{
  width: 470px;
  height: 500px;
}
.coment1{
  height: 49px;
  align-items: center;
}
.bbc8{
  align-items: center;
}
.bbc9{
  text-align: left;
}
.acb{
  width: 79px;
  height: 58px;
  border-radius: 50%;
}
.acb4{
  width: 319px;
}
.acb5{
  height: 60px;
  align-items: center;
}
.acb6{
  height: 50px;
  align-items: center;
}